@import "tailwindcss";
@import "./fonts.css";


/*############*/
/*## LAYOUT ##*/
/*############*/
@theme {
    --breakpoint-xs: 36rem;
}

/*################*/
/*## TYPOGRAPHY ##*/
/*################*/
@theme {
    --font-poppins: 'Poppins', sans-serif;
}
@theme {
    --text-fem: 0.9375rem;
}

/*############*/
/*## COLORS ##*/
/*############*/
@theme {
    --color-red: hsl(0, 78%, 62%);
    --color-cyan: hsl(180, 62%, 55%);
    --color-orange: hsl(34, 97%, 64%);
    --color-blue: hsl(212, 86%, 64%);
    --color-grey-500: hsl(234, 12%, 34%);
    --color-grey-400: hsl(212, 6%, 44%);
    --color-white: hsl(0, 0%, 100%);
}

/*#################*/
/*## ATTRIBUTION ##*/
/*#################*/
.attribution {
    font-size: 11px;
}